/* src/app/globals.css */

@import "tailwindcss";

@layer components {
  /* This is the BASE button style with padding, font, etc. */
  .btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.375rem;
      background-color: #00C29C;
      color: #fff;
    }
    .btn-primary:hover {
      background-color: #002D1D;
  color: #263238;
    transition-duration: 300ms;
  }
  
  /* This is the MODIFIER for a primary button. It ONLY contains colors. */
  .btn-primary {
    background-color: #00C29C;
    color: #fff;
  }
  .btn-primary:hover {
    background-color: #0fa671;
    color : white
  }
  .btn-light {
    background-color: #fff;
    color: #263238;
  }
  .btn-light:hover {
    background-color: #e5e7eb; /* Tailwind's gray-200 */
  }
}

body {
  color: #263238;
}